*{
padding : 0;
margin : 0;
border : 0;
}
body{
background-attachment : fixed;
background-size : 100% auto;
background-color : #e0e0d1;
animation-name: background;
animation-duration: 30s;
animation-iteration-count:infinite;
}


@keyframes background {
    0% {background-color: #e0e0d1;}
    50% {background-color: #3399ff;}
    100% {background-color: #e0e0d1;}
}


.pageHeader{
    background: linear-gradient(to bottom right, #99ccff 0%, #3399ff 95%);
    position:relative;
    clear : none;
    height : 100px;
    width : 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Lobster;
    font-size: 60px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color:#3295ff;
    text-shadow: 0 0 3px black, 0 0 5px #2a8df7;
}

.pageHeader a {
    text-decoration:inherit;
    color:inherit;
}

.logo{
    position:relative;
    top:10%;
    left:1%;
    border-radius:25px;
    width: 80px;
    height: 90px;
    animation-name: slide;
    animation-duration: 4s;
    animation-delay: 2s;
}

.dwi {
    position:relative;
    top:-3%;
    left:-19.1%;
    width:60px;
    height:60px;
    animation-name: glass;
    animation-duration: 7s;
}

@keyframes slide {
   0% {left:1%; top:10%}
   50% {left:15%; top:10%}
   100% {left:1%; top:10%}
}

@keyframes glass {
    0% {left:-19.1%;top:-70%}
    90% {left:-19.1%;top:-70%}
    100% {left:-19.1%;top:-3%}
}

.nav {
    background-color:lightblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav input {
    background-color:#f70909;
    float:right;
    display:inline-block;
}

.nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight:bold;
}

.nav a:hover {
    background-color: #9bcddd;
    color: black;
}

.wrapper div{
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#e5efff;
    position:relative;
    left:20%;
}

h3 {
    background:linear-gradient(to bottom right, #99ccff 35%, #3399ff 95%);
    border-radius:5px;
}

.pageContent{
    margin: 5px;
    clear : none;
    height : 1600px;
    width : 57%;
    height:20vh;
}

.login {
    position:relative;
    top:5%;
    display:block;
    text-align:center;

}

.button {
    padding:2px;
    border-radius:5px;
    background-color:gray;
    font-color:black;
}


.pageFooter{
    text-align:center;
    position: fixed;
    bottom: 0;
    background:linear-gradient(to bottom right, #99ccff 35%, #3399ff 95%);
    clear : none;
    height : 3%;
    width : 100%;
}

